<link rel="stylesheet" type="text/css" href="application.css">

<h1 id="site">
  <a href='/'>GoHuntGeo</a>
  <div style="margin-right:75%;">
    <h6><%= link_to "Login", '/login'  %></h6>
    <h6><%= link_to "Register", '/register'  %></h6>
    <h6><%= link_to "How it Works", '/home' %></h6>
    <h6><%= link_to "Contact us", '/contact' %></h6>
    <br>
  </div>
</h1>
<div id="content">
  <h2>
    <ul>
      <li>Register</li>
      <br>
      <li>Refer some friends to earn points</li>
      <br>
      <li>Start tagging yourself as you travel from state to state</li>
    </ul>
  </h2>
</div>
<div id="places_ive_been">
  <%= image_tag "places_ive_been.png" %>>
</div>